/* front css quotes */
#quote-container {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    color: #333;
}
#quote-container .content {
    text-align: left;
    font-style: italic;
    font-size: 1.1em;
    font-size: 1.05rem;
    padding: 0 0 3px 25px;
    margin: 0 0 2px 0;
}
#quote-container .von {
    text-align: right;
    font-style: italic;
    font-size: 0.9em;
    font-size: 0.85rem;
    margin-right: 15px;
}
#quote-container .von span {
    border-top: 1px solid #ccc;
    display: inline-block;
    padding: 2px 10px 2px 25%;
    color: #666;
}
#quote-container .quelle {
    font-family: Georgia, serif;
    font-size: inherit;
    font-weight: bold;
    color: #ccc;
    margin-left: 5px;
    cursor: pointer;
}
#quote-container .quelle:hover {
    color: #666;
}
#quote-container a.quote-link {
    text-decoration: none;
}
#quote-container a.quote-link:hover {
    text-decoration: underline;
}
#quote-container .link {  }

/* front widget css quotes */
div #quote-container {
    color: inherit;
}
div #quote-container .content {
    padding: 0 0 3px 0;
}
div #quote-container .von span {
    padding: 2px 0;
    color: inherit;
    width: 70%;
}
/* admin css quotes */
#side-sortables .inside .item {
    float:none;
    width: 100%;
    display: inline-block;
    margin: 0 0 1.5% 0;

}
#side-sortables .inside .item.wide {
    width: 100%;
    margin-right: 0;
}

#normal-sortables .inside .item {
    float:left;
    width: 49%;
    display: inline-block;
    margin: 0 1% 1% 0;

}
#normal-sortables .inside .item.wide {
    width: 99%;
    margin-right: 1%;
}

.inside .item label {
    display: block;
    padding: 5px;
    margin: 0;
    background: #363B3F;
    font-weight: bold;
    color:#fff;
}
.inside .item input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 0;
    display: block;
    border-color: #363B3F;
    color: #363B3F;
}
.item.last {
    margin-bottom: 0;
}

/* helfer */
.clear {
    clear:both;
}
.f-left {
    float:left;
}